/* all common css start */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

ul,ol,li{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

img{
    vertical-align: middle;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.w-100{
    width: 100%;
}

.h-100{
    height: 100%;
}
/* all common css end */

/* font part */
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@400;500;600&display=swap');

:root{
    --sono: 'Sono', sans-serif;
}
/* font part */

body{
    background: #d8d8d8;
}

.heading{
    background: #cacaca;
    padding: 20px 30px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(61, 61, 61, 0.267);
}

.heading h2{
    font-size: 48px;
    font-weight: 600;
    font-family: var(--sono);
}

.heading p{
    font-size: 18px;
    font-weight: 500;
    font-family: var(--sono);
}


.slick{
    width: 512px;
    height: 512px;
    margin: 20px auto;
}

.slick .slick-dots{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all linear .3s;
}

.slick .slick-dots li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #5c5c5c;
}

.slick .slick-dots li.slick-active{
    background: #2b2b2b;
    height: 15px;
    width: 15px;
    box-shadow: 0 2px 5px rgba(43, 43, 43, 0.514);
}

.slick .slick-dots li button{
    display: none;
}


.links{
    display: flex;
    gap: 20px;
    margin-top: 60px;
    justify-content: center;
}

.links a{
    background: #5c5c5c;
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a:hover{
    color: #2b2b2b;
    background: #fff;
}








